.container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
  }
  
  .items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 5s infinite alternate linear;
  }
  
  .entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 300px;
    background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  }
  
  p {
    text-align: center;
    padding: 1em;
  }
  
  p.name {
    font-weight: bold;
    font-size: 2em;
  }
  
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (5 * 300px)));
    }
  }
  
  @media only screen and (max-width: 768px) {
    .items {
      animation: carouselAnim 30s infinite alternate linear;
    }
  
    @keyframes carouselAnim {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(calc(-100% + (2 * 300px)));
      }
    }
  }
  
  .faders {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  
  .left,
  .right {
    background: linear-gradient(
      to right,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 200;
  }
  
  .right {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .container img {
      width: 100px;
      height: 100px;
      margin-top: 20px;
      border-radius: 50%;
      border: #ffff;
  }
  
  .icons {
      text-decoration: none;
      font-size: 50px;
      padding-top: 20px;
       color: #fff
    }
   
    .icons a{
      color: #fff;
      padding: 10px;
      margin-left: 5px;
      text-align: center;
      text-decoration: none;
   }
   .icons a:hover {
      color: #f2d4d1;
      transition: all .5s;
   }  
   
   .entryStudent {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 300px;
      background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
      margin: 1em;
      padding: 0.5em;
      border-radius: 10px;
      box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
      height: 450px;
   }
  
   .entryStudent p {
      text-align: center;
      padding: 1.6em;
    }