.footer_distributed {
	/* background: #444; */
	background: #5f6368;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 160px 40px;
	overflow: hidden;
}

section {
	width: 100%;
	display: inline-block;
	background: #ccc;
	height: 60vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
}

/* Footer left */

.footer_distributed .footer_left {
	float: left;
}

/* The company logo */

.footer_image {
	width: 200px;
	border-radius: 50%;
}

.footer_distributed h3 {
	color: #ffffff;
	font: normal 36px "Roboto", cursive;
	margin: 0 0 10px;
}

.footer_distributed h3 span {
	/* color:  #5383d3; */
	color: #f2d4d1;
}

/* Footer links */

.footer_distributed .footer_links {
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer_distributed .footer_links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer_distributed .footer_companyName {
	color: #000000;
	/* font-size: 14px; */
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

/* Footer social icons */

.footer_distributed .footer_icons {
	margin-top: 40px;
}

.footer_distributed .footer_icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 10px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer_distributed .footer_right {
	float: right;
}

.footer_distributed .footer_right p {
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/*  media queries */

@media (max-width: 1000px) {
	.footer_distributed {
		font: bold 14px sans-serif;
	}
}

@media (max-width: 800px) {
	.footer_distributed {
		padding: 30px;
	}

	.footer_distributed .footer_left,
	.footer_distributed .footer_right {
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer_distributed .footer_left {
		margin-bottom: 40px;
	}
}
